.nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 30;
    padding: 10px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    .logo-container {
        display: flex;
        font-size: 2rem;
    }

    .list-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
}

.menu-dropdown-trigger{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.cart-box{
    position: relative;
    .cart-count{
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 2px 5px;
        border-radius: 9999px;
        font-size: x-small;
    }
}

.side-menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 30px 3%;
    gap: 40px;

    .exit-button-wrapper{
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        button{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 8px;
            font-size: 24px;
            border-radius: 9999px;
            background: transparent;
            border: none;
            color: white;
            background-color: red;
        }
    }
    .navigation-wrapper{
        display: flex;
        flex-direction: column;
        gap: 15px;
        .navigation{
            font-size: 24px;
            font-weight: 800;
            text-decoration: none;
            color: black;

            &:hover{
                color: red;
            }
        }
    }

    .suggest-trip-wrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;

        .suggest-trip-item{
            position: relative;
            width: 100%;
            aspect-ratio: 265/220;
            img{
                border-radius: 8px;
            }

            .sale-bubble {
                position: absolute;
                top: -10px;
                right: -10px;
                padding: 12px 8px;
                font-size: 12px;
                font-weight: 800;
                background-color: aqua;
                color: white;
                border-radius: 9999px;
            }

            .price-tag {
                position: absolute;
                left: 0;
                bottom: 50%;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
                display: flex;
                gap: 5px;
                background-color: red;
                color: white;
                padding: 8px 12px;
                align-items: center;
                .old-price {
                    text-decoration: line-through;
                    font-size: 14px;
                }

                .current-price {
                    font-weight: 800;
                }
            }

            .atributte{
                position: absolute;
                left: 0;
                bottom: 10px;
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding: 10px;
                .title{
                    font-size: 14px;
                    font-weight: 800;
                    color: white;
                }
            }
        }
    }
}

.right-hand-menu-bar{
    position: absolute;
    top: 30vh;
    width: fit-content;
    height: fit-content;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    color: black;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    .menu-item{
        padding: 5px 10px;
    }
}