.main {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    .header-box {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .background-overlay {
            width: 100%;
            height: 800px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-inline: 5%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            
            .video-background {
                position: absolute;
                top: -60px;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: -10;
            }

            .text-title {
                font-size: 40px;
                line-height: 40px;
                font-weight: 800;
                color: white;
            }
            .text-sub-title {
                font-size: 14px;
                line-height: 14px;
                color: white;
            }
            .first {
                justify-content: space-between;
            }
            .second {
                justify-content: space-between;
            }
            .input-wrapper {
                display: flex;
                width: 100%;
                gap: 10px;
                @media screen and (width < 768px) {
                    display: flex;
                    flex-direction: column;
                }
                div {
                    display: flex;
                    align-items: center;
                    width: 20vw;
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
                    border-radius: 8px;
                    padding: 12px;
                    background-color: white;
                    @media screen and (width < 768px) {
                        width: 100%;
                    }
                    input {
                        width: 100%;
                        outline: none;
                        border: none;
                        background: transparent;
                    }

                    select {
                        width: 100%;
                        outline: none;
                        border: none;
                        background: transparent;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        background-image: none;
                        background-position: right center;
                        background-repeat: no-repeat;
                        padding-right: 1em;
                        option{
                            background: transparent;
                        }
                    }
                }

                .search-button {
                    padding: 12px;
                    background-color: red;
                    color: white;
                    width: 20vw;
                    border: none;
                    border-radius: 8px;
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
                    font-weight: 700;
                    @media screen and (width < 768px) {
                        width: 100%;
                    }
                    :hover {
                        background-color: cyan;
                    }
                }
            }
            .bottom-menu {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                .advance-search-opener {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    cursor: pointer;
                    color: white;
                }
            }
        }

        .over-box {
            width: 100%;
            height: 1200px;

            .text-wrapper {
                justify-content: center;
                text-align: center;
                margin: 40px 5%;
                width: 90%;
                .title {
                    font-size: 40px;
                    font-weight: 800;
                }

                .tagline {
                    font-size: 14px;
                    font-weight: 400;
                    color: #8d9199;
                }
            }
            .tour-view-grid {
                display: flex;
                justify-content: space-between;
                height: 320px;
                margin: 0 5%;
                width: 90%;
                @media screen and (width < 768px) {
                    flex-direction: column;
                    gap: 25px;
                    height: fit-content;
                }
                .tour-view-item {
                    position: relative;
                    width: 22%;
                    height: 180px;
                    transition: transform 0.3s ease, box-shadow 0.3s ease;

                    &:hover {
                        transform: translateY(-5px);
                        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
                    }

                    @media screen and (width < 768px) {
                        width: 100%;
                    }

                    @media screen and (width >= 960px) {
                        height: 300px;
                    }

                    img {
                        border-radius: 8px;
                    }
                    .text-info-wrapper {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        padding: 8px 12px;

                        .text-info {
                            font-size: 24px;
                            font-weight: 800;
                            color: white;
                        }
                    }
                }
            }

            .trip-view-grid {
                display: flex;
                justify-content: space-between;
                height: 320px;
                width: 90%;
                margin: 0 5%;
                @media screen and (max-width: 768px) {
                    flex-direction: column;
                    gap: 25px;
                    height: fit-content;
                }
                .trip-card {
                    display: flex;
                    flex-direction: column;
                    height: fit-content;
                    width: 30%;
                    transition: transform 0.3s ease, box-shadow 0.3s ease;
                    border-radius: 8px;
                    border: 1px solid #dce0e0;
                    &:hover {
                        transform: translateY(-5px);
                        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
                    }

                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }

                    @media screen and (min-width: 960px) {
                        height: 300px;
                    }

                    .trip-card-image-box {
                        position: relative;
                        width: 100%;
                        aspect-ratio: 3/2;
                        img {
                            border-radius: 8px;
                        }
                        .sale-bubble {
                            position: absolute;
                            top: -10px;
                            right: -10px;
                            padding: 12px 8px;
                            font-size: 12px;
                            font-weight: 800;
                            background-color: aqua;
                            color: white;
                            border-radius: 9999px;
                        }

                        .price-tag {
                            position: absolute;
                            left: 0;
                            bottom: 20px;
                            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
                            display: flex;
                            gap: 5px;
                            background-color: red;
                            color: white;
                            padding: 8px 12px;
                            align-items: center;
                            .old-price {
                                text-decoration: line-through;
                                font-size: 14px;
                            }

                            .current-price {
                                font-weight: 800;
                            }
                        }
                    }

                    .trip-info-wrapper {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        padding: 12px 18px;

                        .text-info {
                            font-size: 24px;
                            font-weight: 800;
                        }
                        .text-info-description {
                        }
                    }

                    .trip-atributte {
                        display: flex;
                        justify-content: space-between;
                        padding: 12px 18px;
                        align-items: center;
                        .rating {
                            display: flex;
                            font-size: 10px;
                            align-items: center;
                            @media screen and (max-width: 768px) {
                                flex-direction: column;
                                align-items: start;
                                p {
                                    margin: 0 5px;
                                }
                            }
                        }

                        .last-time {
                            display: flex;
                            gap: 5px;
                            font-size: 10px;
                            align-items: center;
                        }
                    }
                }
            }

            .standard-wrapper {
                display: flex;
                justify-content: space-between;
                margin: 0 5%;

                @media screen and (max-width: 768px) {
                    flex-direction: column;
                    gap: 25px;
                }

                div {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;
                    @media screen and (width < 768px) {
                        width: 100%;
                    }

                    div {
                        position: relative;
                        width: 150px;
                        height: 150px;
                        aspect-ratio: 1/1;
                    }

                    .title {
                        font-size: 24px;
                        font-weight: 800;
                    }

                    .description {
                        font-size: 14px;
                    }
                }
            }

            .bg {
                width: 100%;
                height: 550px;
                margin-top: 40px;
                background-image: url("https://themes-themegoods.b-cdn.net/grandtour/demo/wp-content/uploads/2016/12/pexels-photo-24377.jpg");
                background-size: cover;
                background-attachment: fixed;
            }

            .blog-post-wrapper {
                display: flex;
                justify-content: space-between;
                margin: 0 5%;

                @media screen and (max-width: 768px) {
                    flex-direction: column;
                    gap: 25px;
                }

                .blog-post-item {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    justify-content: flex-start;
                    align-items: center;
                    text-align: start;
                    border-radius: 8px;
                    border: 1px solid #dce0e0;

                    &:hover {
                        transform: translateY(-5px);
                        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
                    }

                    @media screen and (width < 768px) {
                        width: 100%;
                    }

                    .blog-post-image-wrapper {
                        position: relative;
                        width: 100%;
                        aspect-ratio: 3/2;
                        img {
                            border-top-right-radius: 8px;
                            border-top-left-radius: 8px;
                        }
                    }

                    .blog-post-below-content {
                        padding: 0 5% 40px;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        .blog-post-date {
                            text-transform: uppercase;
                            font-size: 14px;
                            font-weight: 800;
                        }

                        .blog-post-title {
                            text-transform: uppercase;
                            font-size: 24px;
                            font-weight: 800;
                        }

                        .blog-post-description {
                            font-size: 14px;
                        }

                        .blog-post-readmore {
                            display: flex;
                            gap: 10px;
                            color: #767676;
                            cursor: pointer;
                            align-items: center;
                            &:hover {
                                color: black;
                            }
                        }
                    }
                }
            }

            .footer {
                margin: 40px 0 0;
                padding: 30px 10px;
                background-color: black;
                color: white;
                justify-content: space-between;

                display: flex;
                @media screen and (width < 768px) {
                    flex-direction: column;
                    gap: 25px;
                }

                .footer-award {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    @media screen and (width < 768px) {
                        width: 100%;
                    }
                    .footer-award-title {
                        font-weight: 800;
                        font-size: 18px;
                    }
                    .footer-reward-image-wrapper {
                        position: relative;
                        width: 100%;
                        aspect-ratio: 21 / 9;
                    }
                }

                .footer-contact {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    width: 30%;
                    @media screen and (width < 768px) {
                        width: 100%;
                    }
                    .footer-contact-title {
                        font-weight: 800;
                        font-size: 18px;
                    }
                    .footer-contact-infomation {
                        display: flex;
                        gap: 10px;
                        align-items: center;
                    }

                    .footer-contact-social-wrapper {
                        padding: 12px;
                        display: flex;
                        gap: 10px;
                        justify-content: center;
                        .footer-contact-social-icon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 9999px;
                            padding: 10px;
                            color: white;
                        }

                        .facebook {
                            background-color: #2d5f9a;
                        }

                        .twitter {
                            background-color: #00c3f3;
                        }
                        .youtube {
                            background-color: #cc181e;
                        }
                        .pinterest {
                            background-color: #bd081c;
                        }

                        .instagram {
                            background-color: #405de6;
                        }
                    }
                }
                .footer-recent-trips-wrapper {
                    display: grid;
                    width: 30%;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    gap: 10px;
                    @media screen and (width < 768px) {
                        width: 100%;
                    }
                    a {
                        height: fit-content;
                        .footer-recent-trips-item {
                            position: relative;
                            width: 100%;
                            aspect-ratio: 1/1;
                            img {
                                border-radius: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// *::-webkit-scrollbar{
//   width: 0;
// }
